@font-face {
    font-family: 'Futura PT';
    src: local('FuturaPT-Medium'), url(../fonts/FuturaPT-Medium.woff2) format('woff2'), url(../fonts/FuturaPT-Medium.woff) format('woff'), url(../fonts/FuturaPT-Medium.ttf) format('truetype'), url(../fonts/Futura-Std-Medium.otf) format('opentype');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'Futura PT';
    src: local('FuturaPT-Light'), url(../fonts/FuturaPT-Light.woff2) format('woff2'), url(../fonts/FuturaPT-Light.woff) format('woff'), url(../fonts/FuturaPT-Light.ttf) format('truetype'), url(../fonts/FuturaStd-Light.otf) format('opentype');
    font-weight: 300;
    font-style: normal
}


/* css from web*/

.site,
body,
html {
    height: 100%
}

.row,
.site {
    -webkit-box-direction: normal
}

*,
.row {
    box-sizing: border-box
}

.about,
.icon {
    position: relative
}

.about,
.benefit2 {
    overflow-y: hidden;
    background-image: linear-gradient(60deg, #e5f4fc, #f2fbfe)
}

.about,
.benefit2,
.billboard {
    background-image: linear-gradient(60deg, #e5f4fc, #f2fbfe)
}

body {
    margin: 0;
    font-family: 'Futura PT', Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300
}

b,
strong {
    font-weight: 500
}

a {
    text-decoration: none;
    color: inherit
}

.site {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column
}

.row,
.row.reverse {
    -webkit-box-orient: horizontal
}

.site-content {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}

.icon {
    display: inline-block;
    fill: currentColor;
    height: 1em;
    width: 1em;
    vertical-align: middle;
    z-index: 1
}

.carousel,
.row {
    display: -webkit-box;
    display: -ms-flexbox
}

.section {
    padding: 100px 0;
    width: 100%;
    float: left
}

@media only screen and (max-width:1089px) {
    .section {
        padding: 70px 0
    }
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: .938em;
    padding-left: .938em;
    width: 100%;
    max-width: 1092px;
    z-index: 5
}

.row {
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -.938em;
    margin-left: -.938em
}

.col.reverse,
.row.reverse {
    -webkit-box-direction: reverse
}

.row.reverse {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.col.reverse {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
}

.col-xs,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: .938em;
    padding-left: .938em
}

.col-xs {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%
}

.col-xs-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%
}

.col-xs-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%
}

.col-xs-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%
}

.col-xs-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%
}

.col-xs-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%
}

.col-xs-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%
}

.col-xs-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%
}

.col-xs-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%
}

.col-xs-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%
}

.col-xs-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%
}

.col-xs-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%
}

.col-xs-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%
}

.col-xs-offset-0 {
    margin-left: 0
}

.col-xs-offset-1 {
    margin-left: 8.33333333%
}

.col-xs-offset-2 {
    margin-left: 16.66666667%
}

.col-xs-offset-3 {
    margin-left: 25%
}

.col-xs-offset-4 {
    margin-left: 33.33333333%
}

.col-xs-offset-5 {
    margin-left: 41.66666667%
}

.col-xs-offset-6 {
    margin-left: 50%
}

.col-xs-offset-7 {
    margin-left: 58.33333333%
}

.col-xs-offset-8 {
    margin-left: 66.66666667%
}

.col-xs-offset-9 {
    margin-left: 75%
}

.col-xs-offset-10 {
    margin-left: 83.33333333%
}

.col-xs-offset-11 {
    margin-left: 91.66666667%
}

.start-xs {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start
}

.center-xs {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center
}

.end-xs {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end
}

.top-xs {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.middle-xs {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.bottom-xs {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

.around-xs {
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.between-xs {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.first-xs {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1
}

.last-xs {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1
}

@media only screen and (min-width:560px) {
    .col-sm,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-offset-0,
    .col-sm-offset-1,
    .col-sm-offset-10,
    .col-sm-offset-11,
    .col-sm-offset-12,
    .col-sm-offset-2,
    .col-sm-offset-3,
    .col-sm-offset-4,
    .col-sm-offset-5,
    .col-sm-offset-6,
    .col-sm-offset-7,
    .col-sm-offset-8,
    .col-sm-offset-9 {
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-right: .938em;
        padding-left: .938em
    }
    .col-sm {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%
    }
    .col-sm-1 {
        -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
        max-width: 8.33333333%
    }
    .col-sm-2 {
        -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
        max-width: 16.66666667%
    }
    .col-sm-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%
    }
    .col-sm-4 {
        -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
        max-width: 33.33333333%
    }
    .col-sm-5 {
        -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
        max-width: 41.66666667%
    }
    .col-sm-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
    }
    .col-sm-7 {
        -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
        max-width: 58.33333333%
    }
    .col-sm-8 {
        -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
        max-width: 66.66666667%
    }
    .col-sm-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%
    }
    .col-sm-10 {
        -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
        max-width: 83.33333333%
    }
    .col-sm-11 {
        -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
        max-width: 91.66666667%
    }
    .col-sm-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
    }
    .col-sm-offset-0 {
        margin-left: 0
    }
    .col-sm-offset-1 {
        margin-left: 8.33333333%
    }
    .col-sm-offset-2 {
        margin-left: 16.66666667%
    }
    .col-sm-offset-3 {
        margin-left: 25%
    }
    .col-sm-offset-4 {
        margin-left: 33.33333333%
    }
    .col-sm-offset-5 {
        margin-left: 41.66666667%
    }
    .col-sm-offset-6 {
        margin-left: 50%
    }
    .col-sm-offset-7 {
        margin-left: 58.33333333%
    }
    .col-sm-offset-8 {
        margin-left: 66.66666667%
    }
    .col-sm-offset-9 {
        margin-left: 75%
    }
    .col-sm-offset-10 {
        margin-left: 83.33333333%
    }
    .col-sm-offset-11 {
        margin-left: 91.66666667%
    }
    .start-sm {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: start
    }
    .center-sm {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center
    }
    .end-sm {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: end
    }
    .top-sm {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }
    .middle-sm {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
    .bottom-sm {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
    }
    .around-sm {
        -ms-flex-pack: distribute;
        justify-content: space-around
    }
    .between-sm {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    .first-sm {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1
    }
    .last-sm {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }
}

@media only screen and (min-width:1088px) {
    .col-md,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-offset-0,
    .col-md-offset-1,
    .col-md-offset-10,
    .col-md-offset-11,
    .col-md-offset-12,
    .col-md-offset-2,
    .col-md-offset-3,
    .col-md-offset-4,
    .col-md-offset-5,
    .col-md-offset-6,
    .col-md-offset-7,
    .col-md-offset-8,
    .col-md-offset-9 {
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-right: .938em;
        padding-left: .938em
    }
    .col-md {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%
    }
    .col-md-1 {
        -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
        max-width: 8.33333333%
    }
    .col-md-2 {
        -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
        max-width: 16.66666667%
    }
    .col-md-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%
    }
    .col-md-4 {
        -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
        max-width: 33.33333333%
    }
    .col-md-5 {
        -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
        max-width: 41.66666667%
    }
    .col-md-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
    }
    .col-md-7 {
        -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
        max-width: 58.33333333%
    }
    .col-md-8 {
        -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
        max-width: 66.66666667%
    }
    .col-md-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%
    }
    .col-md-10 {
        -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
        max-width: 83.33333333%
    }
    .col-md-11 {
        -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
        max-width: 91.66666667%
    }
    .col-md-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
    }
    .col-md-offset-0 {
        margin-left: 0
    }
    .col-md-offset-1 {
        margin-left: 8.33333333%
    }
    .col-md-offset-2 {
        margin-left: 16.66666667%
    }
    .col-md-offset-3 {
        margin-left: 25%
    }
    .col-md-offset-4 {
        margin-left: 33.33333333%
    }
    .col-md-offset-5 {
        margin-left: 41.66666667%
    }
    .col-md-offset-6 {
        margin-left: 50%
    }
    .col-md-offset-7 {
        margin-left: 58.33333333%
    }
    .col-md-offset-8 {
        margin-left: 66.66666667%
    }
    .col-md-offset-9 {
        margin-left: 75%
    }
    .col-md-offset-10 {
        margin-left: 83.33333333%
    }
    .col-md-offset-11 {
        margin-left: 91.66666667%
    }
    .start-md {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: start
    }
    .center-md {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center
    }
    .end-md {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: end
    }
    .top-md {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }
    .middle-md {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
    .bottom-md {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
    }
    .around-md {
        -ms-flex-pack: distribute;
        justify-content: space-around
    }
    .between-md {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    .first-md {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1
    }
    .last-md {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }
}

.about__story {
    padding-right: 35px
}

.about .background-stripes__wrapper {
    bottom: -40px
}

.about__icon {
    width: 102px;
    height: 102px
}

.background-stripes__wrapper {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    height: 170px;
    overflow: hidden
}

.background-stripes {
    background-color: #fff;
    width: 200%;
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
    opacity: .1
}

.background-stripes--first {
    height: 200px
}

.background-stripes--second {
    height: 150px;
    margin-top: -150px
}

.background-stripes--blue {
    background-color: #00b2e2
}

.benefit {
    width: 100%;
    float: left
}

.benefit__icon {
    width: 100%;
    max-width: 52px
}

.benefit2 {
    position: relative
}

.benefit2__hero {
    width: 100%;
    max-width: 791px;
    position: absolute;
    bottom: 0;
    right: 0
}

.benefit2 .background-stripes__wrapper {
    top: -115px;
    bottom: auto;
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    opacity: .5;
    width: calc(100% - 10px)
}

@media only screen and (max-width:1375px) {
    .benefit2__hero {
        max-width: 650px
    }
}

@media only screen and (max-width:1150px) {
    .benefit2__hero {
        max-width: 400px
    }
}

.benefit3 {
    background-color: #465064;
    padding-top: 60px
}

.benefit3__hero {
    width: 100%;
    max-width: 439px;
    position: absolute;
    left: 0;
    bottom: -220px
}

@media only screen and (max-width:1089px) {
    .benefit {
        text-align: center
    }
    .benefit2 {
        padding-bottom: 300px
    }
    .benefit3__hero {
        position: static;
        margin: 0 auto;
        left: auto;
        display: block
    }
}

.benefit4 {
    position: relative;
    z-index: 10;
    padding-bottom: 0
}

.benefit4__hero {
    position: absolute;
    right: 0;
    top: -50px;
    width: 100%;
    max-width: 585px
}

@media only screen and (max-width:1089px) {
    .benefit4__hero {
        position: static;
        margin: 40px auto 0;
        left: auto;
        display: block
    }
}

.billboard {
    position: relative
}

.billboard__image {
    position: absolute;
    bottom: -240px;
    right: -140px;
    z-index: 1;
    max-width: 836px
}

.billboard .background-stripes__wrapper {
    bottom: 0;
    height: 160px
}

.billboard .background-stripes--first {
    height: 200px
}

.billboard .background-stripes--second {
    height: 100px;
    margin-top: -140px
}

@media only screen and (max-width:1372px) {
    .billboard__image {
        right: -70px
    }
}

@media only screen and (max-width:1230px) {
    .billboard__image {
        max-width: 498px;
        bottom: -180px;
        right: 0
    }
}

@media only screen and (max-width:950px) {
    .billboard__image {
        width: 100%;
        max-width: 320px
    }
}

@media only screen and (max-width:630px) {
    .billboard {
        padding-bottom: 280px
    }
    .billboard__image {
        bottom: -360px
    }
}

.carousel {
    display: flex;
    width: 100%;
    position: relative;
    margin-bottom: 100px
}

.carousel--small {
    max-width: 964px;
    margin-left: auto;
    margin-right: auto
}

.carausel__slides {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s
}

.carausel__slide-wrapper {
    padding: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.carausel__slide {
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.carausel__slide--small {
    width: 340px;
    padding: 25px 15px 25px 25px
}

.carausel__slide--large {
    width: 100%;
    max-width: 468px
}

.carousel__icon {
    position: absolute;
    top: 50%;
    font-size: 1.25em;
    margin-top: -10px;
    cursor: pointer
}

.carousel__prev {
    left: -20px
}

.carousel__next {
    right: -20px
}

.caraousel__image {
    position: relative;
    padding-top: 100%;
    width: 100%;
    margin: 0 auto
}

.caraousel__image img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    max-width: 100%;
    height: 100%
}

.caraousel__content {
    padding: 10px 10px 10px 15px;
    width: 60%;
    float: left
}

.caraousel__content-image {
    width: 40%;
    float: left
}

@media only screen and (max-width:1300px) {
    .carousel--large {
        max-width: 710px;
        margin: 20px auto
    }
}

@media only screen and (max-width:1028px) {
    .carousel--large {
        max-width: 355px
    }
    .carousel--small {
        max-width: 482px
    }
}

@media only screen and (max-width:575px) {
    .caraousel__content,
    .caraousel__content-image {
        width: 100%
    }
    .carousel--large {
        max-width: 270px
    }
    .carausel__slide--small {
        width: 260px
    }
    .carausel__slide--large {
        max-width: 249px
    }
    .carousel__icon {
        font-size: 1em
    }
    .carousel__prev {
        left: -15px
    }
    .carousel__next {
        right: -15px
    }
}

.button,
.button-arrow {
    font-weight: 500;
    font-size: 1.125em;
    line-height: 1;
    display: inline-block
}

.button {
    background-color: #ff9b1e;
    background-image: linear-gradient(-135deg, #ff9b1e, #ffaf32);
    color: #fff;
    padding: 10px 13px;
    border-radius: 3px;
    border: 1px solid #ff9b1e;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    transition: background-color .4s, border-color .4s, color .4s;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.button--transparent {
    background: 0 0;
    border: 1px solid #fff;
    box-shadow: none
}

.button-arrow {
    background-color: #fff;
    color: #00b2e2;
    padding: 11px 30px 9px 20px;
    border-radius: 8px 0 0 8px;
    height: 42px;
    position: relative;
    z-index: 2;
    border: none
}

.button-arrow:after {
    border: none;
    content: '';
    position: absolute;
    right: -15px;
    top: 4px;
    height: 34px;
    width: 34px;
    border-radius: 8px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #fff;
    z-index: 0
}

@media only screen and (min-width:1088px) {
    .button:hover {
        background-image: none;
        background-color: #cf721e;
        border-color: #cf721e
    }
    .button--transparent:hover {
        background-color: #fff;
        color: #00b2e2;
        border-color: #fff
    }
}

@media only screen and (max-width:1089px) {
    .button {
        min-width: 150px
    }
    .button--transparent {
        background-color: #fff;
        border: 1px solid #465064;
        box-shadow: none;
        color: #465064 !important;
    }
}

.dropdown {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 0 15px;
    position: relative;
    display: inline-block
}

.dropdown.active {
    border-color: transparent
}

.dropdown__header {
    cursor: pointer;
    position: relative
}

.dropdown.active .dropdown__text-wrap {
    visibility: hidden
}

.dropdown__icon {
    font-size: .7em;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 4
}

.dropdown_body,
.footer__social {
    margin: 0;
    width: 100%;
    list-style-type: none
}

.dropdown.active .dropdown__icon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    top: 2px
}

.dropdown_body {
    height: 0;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    border-radius: 5px;
    z-index: 2
}

.dropdown.active .dropdown_body {
    height: auto;
    max-height: 500px;
    border: 1px solid #fff
}

.dropdown__list {
    transition: background-color .4s, color .4s;
    float: left;
    width: 100%;
    padding: 0 15px
}

.dropdown__text {
    font-size: 1.125em;
    color: #fff;
    padding: 10px 0;
    float: left;
    width: 100%;
    line-height: 1;
    position: relative;
    font-weight: 300
}

.dropdown__text.dropdown__text--icon {
    padding-right: 20px;
    font-weight: 500
}

.dropdown__list.first .dropdown__text {
    font-weight: 500
}

@media only screen and (min-width:1088px) {
    .dropdown__list:hover {
        background-color: #fff
    }
    .dropdown__list:hover .dropdown__text {
        color: #00b2e2
    }
    .dropdown__list.first:hover {
        background-color: transparent
    }
    .dropdown__list.first:hover .dropdown__text {
        color: #fff
    }
}

@media only screen and (max-width:1089px) {
    .dropdown {
        border: 1px solid transparent;
        background-color: #fff;
        padding-left: 0
    }
    .dropdown__list {
        padding-left: 5px
    }
    .dropdown__text {
        color: #465064;
        padding: 5px 0
    }
    .dropdown.active .dropdown_body {
        border: 1px solid #465064;
        background-color: #fff
    }
}

.footer {
    padding: 50px 0 100px;
    background-image: linear-gradient(60deg, #0094e2, #00b2e2)
}

.footer__logo {
    font-size: 13.125em
}

.footer__social {
    padding: 0;
    float: left;
    text-align: center
}

.footer__social-item {
    display: inline-block;
    margin-right: 25px
}

.footer__social-icon {
    font-size: 3.25em
}

.footer__copy {
    font-size: .75em;
    color: #fff;
    width: 100%;
    float: left;
    text-align: center
}

.footer__app-shop {
    width: 100%
}

.footer__app-shop-wrapper {
    float: left;
    width: 100%;
    max-width: 140px;
    margin-right: 10px
}

@media only screen and (max-width:1089px) {
    .footer__copy,
    .footer__social {
        text-align: left
    }
    .footer__social-item {
        margin-right: 10px
    }
    .footer__logo {
        font-size: 6.25em
    }
    .footer {
        padding: 50px 0
    }
    .footer__social-icon {
        font-size: 3em
    }
}

.hamburger {
    width: 30px;
    margin-top: 13px;
    cursor: pointer
}

.hamburger span {
    width: 100%;
    border-radius: 5px;
    float: left;
    border-bottom: 2px solid #fff
}

.hamburger span:nth-child(2) {
    margin: 7px 0
}

.header {
    background: #00b2e2;
    background-image: linear-gradient(-135deg, #0094e2, #00b2e2);
    padding: 20px 0;
    position: relative;
    z-index: 10;
    float: left;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.header--contact-us,
.promo {
    background-repeat: no-repeat
}

.header--feature {
    background-color: #008ca0
}

.header--contact-us {
    background-image: url(../img/contact_us_bg.png);
    background-size: 100% auto;
    background-position: top center
}

.header__head {
    margin-bottom: 20px
}

.header__logo {
    font-size: 3.125em;
    float: left
}

.header__controls {
    padding: 0;
    margin: 0;
    list-style-type: none;
    float: right
}

.header__app-shop,
.header__app-shop:first-of-type {
    margin-right: 25px
}

.header__controls-item {
    padding: 0 5px;
    float: left
}

.header__controls-item.last {
    padding-right: 0
}

.header__app-shop {
    width: 100%;
    max-width: 130px;
    margin-bottom: 10px
}

.header__heading1,
.header__heading3 {
    line-height: 1.3;
    font-weight: 300;
    margin: 0;
    color: #fff
}

.header__heading1 {
    font-size: 2.625em
}

.header__heading3 {
    font-size: 1.875em
}

.header__content {
    position: relative;
    z-index: 1
}

.header__hero {
    position: absolute;
    right: -30px;
    bottom: -86px;
    z-index: 0;
    width: 100%;
    max-width: 665px
}

.header__hero--about-us {
    max-width: 564px;
    position: absolute;
    right: 50px;
    bottom: -170px;
    z-index: 1;
    width: 100%
}

.header__mob-nav-close,
.header__mob-nav-logo {
    display: none
}

.header--contact-us-icon {
    width: 100%;
    max-width: 104px
}

@media only screen and (max-width:1500px) {
    .header--contact-us {
        background-image: linear-gradient(-135deg, #0094e2, #00b2e2)
    }
}

@media only screen and (max-width:1300px) {
    .header__hero--about-us {
        max-width: 450px
    }
}

@media only screen and (max-width:1130px) {
    .header__hero {
        right: 0;
        max-width: 500px;
        bottom: -70px;
        padding-left: 20px
    }
}

@media only screen and (max-width:730px) {
    .header__hero {
        max-width: 360px;
        bottom: -56px
    }
}

@media only screen and (max-width:1089px) {
    .header__head {
        margin-bottom: 20px
    }
    .header__controls-item {
        width: 100%;
        padding: 5px 0
    }
    .header__controls {
        float: left
    }
    .header__mob-nav {
        display: none
    }
    .header__mob-nav.active {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        right: 10px;
        width: calc(100% - 20px);
        z-index: 10;
        padding: 100px 30px 30px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, .1)
    }
    .header__heading1 {
        font-size: 2em
    }
    .header__mob-nav {
        background-color: #fff;
        position: relative
    }
    .header__mob-nav-logo {
        display: block;
        position: absolute;
        left: 30px;
        top: 30px;
        font-size: 3em
    }
    .header__mob-nav-close {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer
    }
    .header--about {
        padding-bottom: 200px
    }
    .header__hero--about-us {
        max-width: 350px;
        bottom: -130px;
        right: 0
    }
}

.nav-main {
    width: 100%;
    float: left
}

.nav-main__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.nav-main__item {
    float: left;
    padding: 0 15px
}

.nav-main__item.first {
    padding-left: 0
}

.nav-main__text {
    font-size: 1.125em;
    color: #fff;
    font-weight: 500;
    transition: opacity .4s
}

.nav-main__text:hover {
    opacity: .75
}

@media only screen and (max-width:1089px) {
    .nav-main__item {
        width: 100%;
        border-bottom: 2px solid rgba(0, 0, 0, .1);
        padding-left: 0
    }
    .nav-main__text {
        color: #465064;
        padding: 5px 0;
        float: left
    }
}

.promo {
    background-image: url(../img/map2_stripes.png);
    background-position: bottom center;
    background-size: cover;
    position: relative;
    padding-top: 0
}

.promo__hero {
    max-width: 763px;
    width: 100%;
    position: absolute;
    top: 0;
    left: -150px
}

.promo__hero-wrapper {
    background-color: #fff;
    position: relative;
    max-width: 480px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, .1);
    padding: 20px;
    float: right;
    margin-top: 130px;
    margin-bottom: 90px
}

.promo__hero-wrapper:before {
    content: '';
    border-top: 2px dashed #fff;
    position: absolute;
    left: -220px;
    top: calc(50% - 2px);
    width: 100%;
    max-width: 320px
}

.promo__hero-heading {
    text-align: right;
    font-size: 2.625em;
    color: #ff9b1e;
    font-weight: 500;
    margin: 0
}

.promo__info,
.promo__nav {
    text-align: center;
    width: 100%;
    float: left
}

.paragraph,
.promo__nav-item {
    font-size: 1.125em;
    font-weight: 300;
    line-height: 1.5;
    color: #465064
}

.promo__info {
    z-index: 1;
    position: relative
}

.promo__nav {
    padding: 0;
    margin: 0;
    list-style-type: none
}

.promo__nav-item {
    position: relative;
    padding: 0 10px;
    display: inline-block
}

.promo__nav-item:after {
    content: '|';
    position: absolute;
    left: -6px;
    top: 0;
    height: 100%
}

.step,
.step__icon {
    position: relative
}

.promo__nav-item:first-of-type:after {
    content: ''
}

@media only screen and (max-width:1089px) {
    .promo__hero-heading,
    .promo__info,
    .promo__nav {
        text-align: left
    }
    .promo__hero {
        left: 0;
        right: 0;
        margin: 0 auto
    }
    .promo__hero-wrapper {
        background-color: transparent;
        box-shadow: none;
        float: left;
        padding-top: 150px;
        margin-bottom: 0;
        padding-left: 0
    }
    .promo__hero-wrapper:before {
        border: none
    }
    .promo__nav {
        list-style-type: disc;
        padding-left: 10px;
        list-style-position: inside
    }
    .promo__nav-item {
        width: 100%;
        padding: 0;
        display: list-item
    }
    .promo__nav-item:after {
        content: ''
    }
}

.feature,
.no-row-gutter {
    margin-right: 0;
    margin-left: 0
}

.team__image {
    max-width: 104px;
    width: 100%
}

.step {
    text-align: center;
    width: 20%;
    float: left
}

.step__icon {
    width: 100%;
    max-width: 104px
}

.step__line {
    background-image: url(../img/icons/line.svg);
    background-repeat: repeat-x;
    position: absolute;
    top: 50px;
    left: 0;
    height: 3px;
    width: 100%
}

@media only screen and (max-width:1089px) {
    .step {
        width: 50%
    }
    .step__line {
        display: none
    }
}

.paragraph {
    margin: 0;
    width: 100%;
    float: left
}

.paragraph a {
    color: inherit
}

.heading2,
.heading4 {
    margin: 0;
    color: #465064;
    width: 100%;
    float: left;
    font-weight: 500
}

.heading2 {
    font-size: 1.875em
}

.heading4 {
    font-size: 1.125em
}

.text--blue {
    color: #00b2e2!important
}

.text--white {
    color: #fff!important
}

.header--feature {
    background-repeat: no-repeat
}

.header--feature .header__head {
    margin-bottom: 50px
}

.header--feature--1 {
    background-image: url(../img/features_main/1_504.png);
    background-position: bottom right 20px
}

.header--feature--2 {
    background-image: url(../img/features_main/2_781.png);
    background-position: bottom right;
    background-size: 751px auto
}

.header--feature--3 {
    background-image: url(../img/features_main/3_680.png);
    background-position: bottom right;
    background-size: 545px auto
}

.header--feature--4 {
    background-image: url(../img/features_main/4_512.png);
    background-position: bottom 20px right 30px;
    background-size: 455px auto
}

.header--feature--5,
.header--feature--6,
.header--feature--7 {
    background-position: bottom right 30px
}

.header--feature--5 {
    background-image: url(../img/features_main/5_543.png);
    background-size: 455px auto
}

.header--feature--6 {
    background-image: url(../img/features_main/6_802.png)
}

.header--feature--7 {
    background-image: url(../img/features_main/7_723.png)
}

.header--feature--8 {
    background-image: none
}

.feature {
    opacity: .5;
    transition: opacity .4s;
    cursor: pointer;
    text-align: left
}

.feature.active,
.feature:hover {
    opacity: 1
}

.feature__image {
    width: 100%;
    max-width: 43px
}

.feature__wrapper {
    display: none;
    position: relative;
    width: 100%
}

.feature__wrapper.active {
    display: block
}

.feature__wrapper-image {
    position: absolute;
    width: 100%
}

@media only screen and (max-width:1200px) {
    .header--feature {
        background-size: auto 500px!important
    }
}

@media only screen and (max-width:1089px) {
    .feature {
        text-align: center
    }
    .feature .header__heading3 {
        font-size: 1em
    }
    .header--feature {
        padding-bottom: 300px;
        background-size: auto 350px!important
    }
}

@media only screen and (max-width:559px) {
    .promo__hero-wrapper {
        padding-top: 50px
    }
    .step {
        width: 100%
    }
    .header--feature {
        padding-bottom: 300px;
        background-size: auto 300px
    }
    .header--feature--2 {
        background-size: 100% auto
    }
    .header--feature--4 {
        background-position: bottom 10px right 20px
    }
}

.w100 {
    width: 100%
}

.w60 {
    width: 60%
}

.w50 {
    width: 50%
}

.w40 {
    width: 40%
}

.w33 {
    width: 33.3333%
}

.w66 {
    width: 66.6666%
}

.w20 {
    width: 20%
}

.h100 {
    height: 100%
}

.L {
    float: left
}

.R {
    float: right
}

.bold {
    font-weight: 500
}

.hidden {
    display: none
}

.relative {
    position: relative
}

.c-white {
    color: #fff
}

.alCen {
    text-align: center
}

.alRight {
    text-align: right
}

.bottom-margin--5 {
    margin-bottom: 5px
}

.bottom-margin--10 {
    margin-bottom: 10px
}

.bottom-margin--15 {
    margin-bottom: 15px
}

.bottom-margin--20 {
    margin-bottom: 20px
}

.bottom-margin--25 {
    margin-bottom: 25px
}

.bottom-margin--30 {
    margin-bottom: 30px
}

.bottom-margin--35 {
    margin-bottom: 35px
}

.bottom-margin--40 {
    margin-bottom: 40px
}

.bottom-margin--50 {
    margin-bottom: 50px
}

.bottom-margin--70 {
    margin-bottom: 70px
}

.bottom-margin--100 {
    margin-bottom: 100px
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.flex-wrap--wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.flex-self-align--end {
    -ms-flex-item-align: end;
    align-self: flex-end
}

.flex-aling--center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.no-gutter {
    padding-left: 0;
    padding-right: 0
}

.display--inline-block {
    display: inline-block
}

.hidden-md {
    display: none
}

.overrflow-x--hidden {
    overflow-x: hidden
}

@media only screen and (max-width:559px) {
    .hidden-xs {
        display: none
    }
    .mobile100-xs,
    .w100-xs {
        width: 100%
    }
    .L-xs {
        float: left
    }
}

@media only screen and (max-width:1089px) {
    .hidden-sm {
        display: none
    }
    .hidden-md {
        display: block
    }
    .mobile100-sm {
        width: 100%
    }
    .L-sm {
        float: left
    }
    .alCen-sm {
        text-align: center
    }
}


/* css from web end*/

#applicationform input {
    padding: 7px 15px;
    height: auto;
    box-shadow: 0px 0px 11px #d4d4d4;
    border: none;
    margin-bottom: 15px;
}

#applicationform .input-error {
    border: 1px solid #a94442;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #ce8483;
}

#applicationform p {
    color: #525252;
}

#applicationform label {
    color: #525252;
    font-weight: 400;
    margin-bottom: 15px;
}

#applicationform select {
    padding: 7px 15px;
    height: 37px;
    background-color: #fff;
    box-shadow: 0px 0px 11px #d4d4d4;
    border: none;
    width: 100%;
    color: #525252;
    margin-bottom: 15px;
}

#inputPhone {
    padding-left: 52px !important;
}

.ordercard-page {
    background: #ecf8fd;
}

.header-ordercard {
    background: #30b8a4;
    background-image: linear-gradient(-135deg, #30b8a4, #50c8b4);
}

.header__controls-item a {
    color: #fff;
}

.order-header-wrap {
    margin-bottom: 65px;
}

.apply-img img {
    position: absolute;
    top: 0;
    left: 0;
}

#radio-box {
    display: none;
}

#phonemodal {
    z-index: 1060;
}

.modal-content {}

.steptwo {
    padding: 60px;
    background: #30b8a4;
    background-image: linear-gradient(-135deg, #30b8a4, #50c8b4);
}

.we-sent {
    font-size: 33px;
    margin-bottom: 20px;
}

.button-label {
    font-size: 20px;
    margin-bottom: 20px;
}

.btn-resend,
.btn-phone-edit {
    margin-bottom: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
    background: #3c465a;
    background-image: linear-gradient(-135deg, #3c465a, #454f63);
}

.steptwo #inputVerifyCode,
.steptwo #inputApplyBtn {
    max-width: 250px;
    margin: initial;
}

.steptwo #inputApplyBtn {
    margin-top: 20px;
    border: none;
    background: #ffa72a;
}

.steptwo .alert-success {
    max-width: 250px;
}

.steptwo .modal-content {
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    background-color: #ecf8fd;
    width: 50%;
    color: #525252;
    font-weight: 400;
}

.steptwo .modal-content .modal-header {
    border-bottom: none;
    padding: 0;
}

.steptwo .modal-content .close {
    color: #000;
    opacity: .6;
}

.phone-error {
    color: red;
}

.langswitch a {
    display: block;
    font-size: 1.125em;
    padding: 10px 0;
    float: left;
    width: 100%;
    line-height: 1;
    position: relative;
    font-weight: 300;
}

.login-page,
.header-loginpage,
.footer-login {
    background-image: linear-gradient(100deg, #0094e2, #00b2e2);
}

.header-loginpage .header__head {
    margin-bottom: 50px;
}

.login-page .main-container {
    position: relative;
    margin-top: 0;
}

.login-page #loginform .btn {
    background-color: #ff9e21;
}

.login-page #loginform input,
.login-page #loginform .btn,
.login-page #loginform a {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.login-page #loginform input {
    margin-bottom: 15px;
}

.login-page #loginform label {
    font-weight: 400;
    margin-bottom: 15px;
}

.login-page .open-account a,
.login-page .activate-account a,
.login-page .forgot-password a {
    color: #fff;
    background: #3e485c;
    padding: 5px;
    display: block;
}

.login-page .login-form {
    max-width: 330px;
    margin-top: 0;
}

.login-page .activate-form {
    max-width: 330px;
}

.login-btn-wrap {
    margin-bottom: 40px;
}

.login-page-h1 {
    margin-top: 0;
    margin-bottom: 70px;
}

.login-page #activationform label {
    font-weight: 400;
}

.login-page #activationform input {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.login-page #activationform select {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.login-page #activationform .btn {
    background-color: #ff9e21;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#loader2 {
    background-image: url('/files/images/design/ring2.svg');
    float: left;
    margin-left: 57px;
}

.resend-failed {
    max-width: 250px;
}

@media (max-width: 600px) {
    .steptwo .modal-content {
        width: 90%;
    }
}

@media (max-width: 559px) {
    .apply-img {
        display: none;
    }
}

.activate-video-page {
    background-color: #ecf8fd !important;
    background-image: none;
}

.lt .header-menu-right .header__controls-item {
    font-size: 14px;
}

#loginform {
    min-height: 430px;
}

@media (min-width: 1089px) {
    .mobile-menu-bars {
        display: none;
    }
}

.video-wrap {
    text-align: center;
    margin-top: 110px;
}

.card-apply-row:before {
    display: block !important;
}

.activate-video-page .login-page-h1 {
    color: #000;
    margin-bottom: 15px;
}

.activate-video-page .activate-form label,
.activate-video-page .activate-form input,
.activate-video-page .activate-form p {
    color: #000;
}

.activate-video-page .activate-form {
    color: #000;
}

.activate-video-page #inputSetPassword {
    border: none;
}

#video:hover {
    cursor: pointer;
}

.video-wrap {
    position: relative;
}

.activate-video-page .main-container {
    height: auto !important;
}